/* Body text - #434455  slate */

/* Overlays Shadows Headings - #2E2F42 Navy blue */
/* primary brand -nortmal-  #4D5AE5 iris */
/* pressed state - hover - #404BBF OCEAN */
/* Valid fields Success messages - #31D0AA green */
/* Accent color Hairlines Subtle backgrounds #E7E9FC */
/* Helper text Deemphasized text Subtle text - #8E8F99 */




:root {
    --primary-brand-button-color: #4D5AE5;
    --pressed-hover-button-color: #404BBF;
    --hover-navigation-adress: #404BBF;
    --headings-dark-color: #2E2F42;
    --success-valid-fields-color: #31D0AA;
    --body-text-color: #434455;
    --subtle-text-color: #8E8F99;
    --accent-color: #E7E9FC;
    --modal-overlay-color: #2E2F42;
    --hero-one-background-color: #2E2F42;
    --hero-text-color: #ffffff; 
    --background-header-color:#E7E9FC;
    --backgroung-footer-color: #2E2F42;
    --footer-text-color: #E7E9FC;
    --button-text-hover-color: #ffffff;
    --light-mode-backgrounds: #F4F4FD;

  
}
  /* Body  */
  body {font-family: Roboto, sans-serif; 
    letter-spacing: 0.02em; 
    font-size: 16px;
    line-height: 1.5;

color:var(--body-text-color);}
/* header */
.header ul {
    list-style: none;
}
.header a {text-decoration: none; }
/* -Logo- */
.logo { color: var(--primary-brand-button-color);font-family: Raleway, sans-serif; letter-spacing: 0.03em; font-size: 18px;
    line-height: 1.33; text-transform: uppercase;}
.logo>span {color:var(--headings-dark-color);}

/* nav-header */
.nav-header {color:var(--headings-dark-color); font-weight: 500;}
.nav-header:hover { color: var(--hover-navigation-adress); }
.nav-header:focus {
    color: var(--hover-navigation-adress);
}

/* adress-list/ */
.adress-list {color:var(--body-text-color) ;font-style: normal;}
.adress-list:hover {color: var(--hover-navigation-adress);} 
.adress-list:focus {
    color: var(--hover-navigation-adress);
}

/* footer/ */
.footer a {text-decoration: none; }
.footer { background-color:var(--backgroung-footer-color); color:var(--footer-text-color) ;}

.logo-footer {color:var(--primary-brand-button-color); 
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;}
.logo-footer>span {color: var(--footer-text-color);}

/* main */
/* .main-page { color: var(--body-text-color);} */
/* Hero-Section */
.hero-one {color:var(--hero-text-color); font-size: 56px;
    line-height: 1.07; text-align: center;}
.section-hero-one { background-color:var(--hero-one-background-color);}
.style-button {font-family: roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5; 
    cursor: pointer; 
    background-color:var(--primary-brand-button-color); 
    color:var(--button-text-hover-color); 
    letter-spacing: 0.04em;}
.style-button:hover {background-color:var(--pressed-hover-button-color) ; letter-spacing: 0.04em;}
.style-button:focus {background-color: var(--pressed-hover-button-color);
    letter-spacing: 0.04em;}

/* section-features */
.features {color: var(--body-text-color);}
.features>ul {list-style: none;} 
.headings-features {color: var(--headings-dark-color); 
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;}

.title { font-family: 'Roboto'; 
    font-weight: 700; 
    font-size: 36px;
    line-height: 1.11; 
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;}

.title-team {color: var(--headings-dark-color); font-family: 'Roboto'; 
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;} 

/* What we are doing */
.examples>ul { list-style: none;}

/* our team  */
.team {background-color: var(--light-mode-backgrounds);}
.team>ul {list-style: none;}


/*PAGE PORTFOLIO */
/* main  */
.main-page {color: var(--body-text-color);}
/* filters  */
.filters ul {list-style: none;}
.button-filter {font-family: roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;}
.button-all {cursor: pointer; background-color:var(--accent-color); color: var(--primary-brand-button-color);}
.button-webs {cursor: pointer; background-color: var(--accent-color); color: var(--primary-brand-button-color);}
.button-app {cursor: pointer; background-color: var(--accent-color); color: var(--primary-brand-button-color);}
.button-desighn {cursor: pointer; background-color: var(--accent-color); color: var(--primary-brand-button-color);}
.button-marketing { cursor: pointer;
        background-color: var(--accent-color); color: var(--primary-brand-button-color);
    }
.button-all:hover {color: var(--button-text-hover-color); background-color: var(--pressed-hover-button-color);}
.button-webs:hover {color: var(--button-text-hover-color);
    background-color: var(--pressed-hover-button-color);}
.button-app:hover {color: var(--button-text-hover-color);
    background-color: var(--pressed-hover-button-color);}
.button-desighn:hover {color: var(--button-text-hover-color);
    background-color: var(--pressed-hover-button-color);}
.button-marketing:hover {color: var(--button-text-hover-color);
    background-color: var(--pressed-hover-button-color);}
        .button-all:focus {
            color: var(--button-text-hover-color);
            background-color: var(--pressed-hover-button-color);
        }
    
        .button-webs:focus {
            color: var(--button-text-hover-color);
            background-color: var(--pressed-hover-button-color);
        }
    
        .button-app:focus {
            color: var(--button-text-hover-color);
            background-color: var(--pressed-hover-button-color);
        }
    
        .button-desighn:focus {
            color: var(--button-text-hover-color);
            background-color: var(--pressed-hover-button-color);
        }
    
        .button-marketing:focus {
            color: var(--button-text-hover-color);
            background-color: var(--pressed-hover-button-color);
        }
        
        .portfolio>ul {list-style: none;} 
        .exampl-title { color: var(--headings-dark-color);
            
           
            font-weight: 500;
            font-size: 20px;
            line-height: 1.2;
                   
            letter-spacing: 0.02em;}
    